In [73]:
import pandas as pd
import os
from glob import glob
from tqdm import tqdm
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

import tensorflow as tf

### csv 불러와서 DataFrame 에 넣기

In [35]:
data_root_path = './data'
data_folders = glob(data_root_path + '/*')
merge_df = pd.DataFrame()

for data_folder in tqdm(data_folders) :
    data_csvs = glob(data_folder + '/*.csv')
    
    for data_csv in data_csvs :
        df = pd.read_csv(data_csv).rename(columns={"Unnamed: 0":'date'})
        merge_df = pd.concat([merge_df, df], ignore_index=True)

merge_df

100%|███████████████████████████████████████████████████████████████████████████████████| 51/51 [00:09<00:00,  5.11it/s]

,date,open,high,low,close,volume,value
0,2017-09-25 12:00:00,4201000.0,4241000.0,4195000.0,4227000.0,15.940028,6.722878e+07
1,2017-09-25 12:10:00,4215000.0,4244000.0,4210000.0,4227000.0,16.224769,6.854317e+07
2,2017-09-25 12:20:00,4215000.0,4242000.0,4191000.0,4221000.0,16.144995,6.806705e+07
3,2017-09-25 12:30:00,4219000.0,4242000.0,4202000.0,4242000.0,17.943481,7.572972e+07
4,2017-09-25 12:40:00,4227000.0,4233000.0,4199000.0,4224000.0,19.122032,8.065820e+07
...,...,...,...,...,...,...,...
215598,2021-10-31 23:10:00,72015000.0,72201000.0,71950000.0,72195000.0,63.488926,4.572245e+09
215599,2021-10-31 23:20:00,72196000.0,72240000.0,72151000.0,72200000.0,56.652736,4.090660e+09
215600,2021-10-31 23:30:00,72220000.0,72350000.0,72077000.0,72215000.0,55.059246,3.976178e+09
215601,2021-10-31 23:40:00,72215000.0,72238000.0,71909000.0,72120000.0,53.188793,3.831516e+09
215602,2021-10-31 23:50:00,72120000.0,72124000.0,72001000.0,72092000.0,39.089480,2.816586e+09

### date, value 제거

In [51]:
drop_columns = ['date', 'value']

dropped_merge_df = merge_df.drop(columns=drop_columns)
dropped_merge_df

              open        high         low       close     volume
0        4201000.0   4241000.0   4195000.0   4227000.0  15.940028
1        4215000.0   4244000.0   4210000.0   4227000.0  16.224769
2        4215000.0   4242000.0   4191000.0   4221000.0  16.144995
3        4219000.0   4242000.0   4202000.0   4242000.0  17.943481
4        4227000.0   4233000.0   4199000.0   4224000.0  19.122032
...            ...         ...         ...         ...        ...
215598  72015000.0  72201000.0  71950000.0  72195000.0  63.488926
215599  72196000.0  72240000.0  72151000.0  72200000.0  56.652736
215600  72220000.0  72350000.0  72077000.0  72215000.0  55.059246
215601  72215000.0  72238000.0  71909000.0  72120000.0  53.188793
215602  72120000.0  72124000.0  72001000.0  72092000.0  39.089480

[215603 rows x 5 columns]

###  average price 구해서 feature 추가

In [52]:
dropped_merge_df['avg_price'] = (dropped_merge_df['high'] + 
                                 dropped_merge_df['low'] + 
                                dropped_merge_df['open'] + 
                                dropped_merge_df['close'] ) // 4
dropped_merge_df

              open        high         low       close     volume   avg_price
0        4201000.0   4241000.0   4195000.0   4227000.0  15.940028   4216000.0
1        4215000.0   4244000.0   4210000.0   4227000.0  16.224769   4224000.0
2        4215000.0   4242000.0   4191000.0   4221000.0  16.144995   4217250.0
3        4219000.0   4242000.0   4202000.0   4242000.0  17.943481   4226250.0
4        4227000.0   4233000.0   4199000.0   4224000.0  19.122032   4220750.0
...            ...         ...         ...         ...        ...         ...
215598  72015000.0  72201000.0  71950000.0  72195000.0  63.488926  72090250.0
215599  72196000.0  72240000.0  72151000.0  72200000.0  56.652736  72196750.0
215600  72220000.0  72350000.0  72077000.0  72215000.0  55.059246  72215500.0
215601  72215000.0  72238000.0  71909000.0  72120000.0  53.188793  72120500.0
215602  72120000.0  72124000.0  72001000.0  72092000.0  39.089480  72084250.0

[215603 rows x 6 columns]

### 10분 뒤 가격을 feature 추가
- close 기준
- target(label)이 될 예정
- 마지막 1행은 after10이 없으므로 삭제

In [66]:
after10 = np.zeros_like(dropped_merge_df['close'])
for i in range(len(dropped_merge_df['close']) - 1) :
        after10[i] = dropped_merge_df['close'][i + 1]
        
dropped_merge_df['after10'] = after10
dropped_merge_df = dropped_merge_df.drop([dropped_merge_df.index[-1]])
dropped_merge_df

,open,high,low,close,volume,avg_price,after10
0,4201000.0,4241000.0,4195000.0,4227000.0,15.940028,4216000.0,4227000.0
1,4215000.0,4244000.0,4210000.0,4227000.0,16.224769,4224000.0,4221000.0
2,4215000.0,4242000.0,4191000.0,4221000.0,16.144995,4217250.0,4242000.0
3,4219000.0,4242000.0,4202000.0,4242000.0,17.943481,4226250.0,4224000.0
4,4227000.0,4233000.0,4199000.0,4224000.0,19.122032,4220750.0,4202000.0
...,...,...,...,...,...,...,...
215597,72129000.0,72190000.0,72011000.0,72030000.0,41.220222,72090000.0,72195000.0
215598,72015000.0,72201000.0,71950000.0,72195000.0,63.488926,72090250.0,72200000.0
215599,72196000.0,72240000.0,72151000.0,72200000.0,56.652736,72196750.0,72215000.0
215600,72220000.0,72350000.0,72077000.0,72215000.0,55.059246,72215500.0,72120000.0
215601,72215000.0,72238000.0,71909000.0,72120000.0,53.188793,72120500.0,72092000.0

### Data normalization

In [67]:
norm = MinMaxScaler()
norm_np = norm.fit_transform(dropped_merge_df)
norm_df = pd.DataFrame(norm_np, columns=list(dropped_merge_df.columns))
norm_df

            open      high       low     close    volume  avg_price   after10
0       0.008039  0.008480  0.008098  0.008346  0.004478   0.008236  0.008346
1       0.008218  0.008518  0.008290  0.008346  0.004558   0.008339  0.008269
2       0.008218  0.008493  0.008047  0.008269  0.004535   0.008252  0.008538
3       0.008269  0.008493  0.008188  0.008538  0.005041   0.008367  0.008308
4       0.008371  0.008378  0.008149  0.008308  0.005372   0.008297  0.008027
...          ...       ...       ...       ...       ...        ...       ...
215597  0.876217  0.874978  0.875676  0.874949  0.011579   0.875957  0.877058
215598  0.874760  0.875118  0.874896  0.877058  0.017835   0.875960  0.877122
215599  0.877074  0.875615  0.877467  0.877122  0.015915   0.877322  0.877313
215600  0.877380  0.877018  0.876521  0.877313  0.015467   0.877562  0.876099
215601  0.877317  0.875590  0.874372  0.876099  0.014941   0.876347  0.875741

[215602 rows x 7 columns]

### Data split

In [88]:
x_train, x_test, y_train, y_test = train_test_split(
    norm_df.drop('after10', 1), 
    norm_df['after10'], 
    test_size=0.1, 
    random_state=0, 
    shuffle=False)

print(x_train.shape, y_train.shape)
print(x_train)
print(y_train)

(194041, 6) (194041,)
            open      high       low     close    volume  avg_price
0       0.008039  0.008480  0.008098  0.008346  0.004478   0.008236
1       0.008218  0.008518  0.008290  0.008346  0.004558   0.008339
2       0.008218  0.008493  0.008047  0.008269  0.004535   0.008252
3       0.008269  0.008493  0.008188  0.008538  0.005041   0.008367
4       0.008371  0.008378  0.008149  0.008308  0.005372   0.008297
...          ...       ...       ...       ...       ...        ...
194036  0.531569  0.530516  0.530863  0.530879  0.004195   0.531258
194037  0.531032  0.529789  0.530147  0.529716  0.003751   0.530471
194038  0.529600  0.529509  0.530096  0.530406  0.004223   0.530203
194039  0.530418  0.531600  0.529993  0.532477  0.013333   0.531424
194040  0.532042  0.531243  0.531183  0.531454  0.008351   0.531782

[194041 rows x 6 columns]
0         0.008346
1         0.008269
2         0.008538
3         0.008308
4         0.008027
            ...
194036    0.529716
194037    0.530406
194038    0.532477
194039    0.531454
194040    0.531697
Name: after10, Length: 194041, dtype: float64

### Tensorflow Dataset 활용하여 시퀀스 데이터셋 구성
[출처:https://teddylee777.github.io/tensorflow/lstm-stock-forecast]

- window_size : 과거 몇 개의 데이터를 기준으로 다음에 오는 데이터를 예측할 것인가를 결정
    - 만약 window_size=6 이면, 6개(1시간 치 데이터)를 기준으로 다음에 10분 후에 나오는 데이터의 after10을 예측함

In [99]:
def windowed_dataset(data, label, window_size, batch_size, shuffle):

    ds_x = tf.data.Dataset.from_tensor_slices(data)
    ds_x = ds_x.window(window_size, shift=1, stride=1, drop_remainder=True)
    ds_x = ds_x.flat_map(lambda x: x.batch(window_size))

    ds_y = tf.data.Dataset.from_tensor_slices(label)
    ds = tf.data.Dataset.zip((ds_x, ds_y))
    if shuffle:
        ds = ds.shuffle(1000)
    return ds.batch(batch_size).prefetch(1)

WINDOW_SIZE = 6
BATCH_SIZE = 16

train_data = windowed_dataset(x_train, y_train, WINDOW_SIZE, BATCH_SIZE, False)
test_data = windowed_dataset(x_test, y_test, WINDOW_SIZE, BATCH_SIZE, False)

In [100]:
for data in train_data.take(1):
    print(f'데이터셋(X) 구성(batch_size, window_size, feature갯수): {data[0].shape}')
#     print(data[0])
    print(f'데이터셋(Y) 구성(batch_size, window_size, feature갯수): {data[1].shape}')
    print(data[1])

데이터셋(X) 구성(batch_size, window_size, feature갯수): (16, 6, 6)
데이터셋(Y) 구성(batch_size, window_size, feature갯수): (16,)
tf.Tensor(
[0.00834611 0.00826943 0.00853783 0.00830777 0.00802658 0.00844836
 0.00844836 0.00816718 0.00791155 0.00805215 0.00791155 0.00775818
 0.00796268 0.00787321 0.00783487 0.00788599], shape=(16,), dtype=float64)

### Model Define

In [112]:
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Dense, LSTM, Conv1D, Lambda, Input, GlobalAveragePooling1D
from tensorflow.keras.losses import Huber
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

In [113]:
def get_model(input_shape):
    input = Input(shape=input_shape)
    x = LSTM(128, return_sequences=True, activation='tanh', dropout=0.2)(input)
    x = LSTM(64, return_sequences=True, activation='tanh', dropout=0.2)(x)
    x = LSTM(32, return_sequences=True, activation='tanh', dropout=0.2)(x)
    x = GlobalAveragePooling1D()(x)
    output = Dense(1, activation="relu")(x)
    model = Model(input, output)
    return model

feature_n = 6
model = get_model((WINDOW_SIZE, feature_n))
model

# model = Sequential([
#     # 1차원 feature map 생성
#     Conv1D(filters=32, kernel_size=5,
#            padding="causal",
#            activation="relu",
#            input_shape=[WINDOW_SIZE, 1]),
#     # LSTM
#     LSTM(16, activation='tanh'),
#     Dense(16, activation="relu"),
#     Dense(1),
# ])

### model compile

In [114]:
loss = Huber()
optimizer = Adam(0.0005)
model.compile(loss=loss, optimizer=optimizer, metrics=['mse'])

earlystopping = EarlyStopping(monitor='val_loss', patience=10)

filename = os.path.join('./checkpoints', 'ckeckpointer.ckpt')
checkpoint = ModelCheckpoint(filename, 
                             save_weights_only=True, 
                             save_best_only=True, 
                             monitor='val_loss', 
                             verbose=1)

### Train

In [115]:
history = model.fit(train_data, 
                    validation_data=(test_data), 
                    epochs=50, 
                    callbacks=[checkpoint, earlystopping])

Epoch 1/50
12128/12128 [==============================] - 249s 20ms/step - loss: 0.0020 - mse: 0.0041 - val_loss: 0.0157 - val_mse: 0.0314

Epoch 00001: val_loss improved from inf to 0.01570, saving model to ./checkpoints\ckeckpointer.ckpt
Epoch 2/50
 4576/12128 [==========>...................] - ETA: 1:49 - loss: 0.0038 - mse: 0.0077

KeyboardInterrupt: